bin/
gen/
.idea/*
*.iml
out/
*local.properties
.DS_Store
*.classpath
*.project
captures/

buildsystem/localDependencies.gradle

.gradle/
build/
#gradle/wrapper

# No Ignore Shared Inspections
!.idea/inspectionProfiles/
!.idea/codeStyles/
!.idea/runConfigurations/

workflow-conf.txt
